@use "../abstracts" as *;
// @use "sass:map";

// Normalizer
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-color: map-get($clr-neutrals, "300");

	// Base font
	font-family: var(--ff-main);
	font-size: 15px;
}
