$clr-calypso: (
	"50": #e2edf0,
	"100": #b6d2db,
	"200": #86b4c3,
	"300": #5696aa,
	"400": #318098,
	"500": #0d6986,
	"600": #0b617e,
	"700": #095673,
	"800": #074c69,
	"900": #033b56,
);
$clr-maroon: (
	"50": #f6e6e9,
	"100": #e8c1c8,
	"200": #d998a3,
	"300": #ca6e7e,
	"400": #be4f63,
	"500": #b33047,
	"600": #ac2b40,
	"700": #a32437,
	"800": #9a1e2f,
	"900": #8b1320,
);

// Neutrals
$clr-neutrals: (
	"100": #ffffff,
	"200": #f5f6f7,
	"300": #dee3e4,
	"400": #77898f,
	"500": #596f76,
	"600": #3e575f,
	"700": #203d46,
	"800": #113039,
	"900": #04252f,
);

// Contrasts
$clr-contrast-light: hsl(194, 84%, 10%);
$clr-contrast-dark: hsl(0, 0%, 98%);
