
// Spacings
// ===================================================================
$s-0: 0;
$s-1: 0.25rem;
$s-2: 0.5rem;
$s-3: 0.75rem;
$s-4: 1rem;
$s-5: 1.5rem;
$s-6: 3rem;

// Corners
// ===================================================================
$corner-radiuses: (
	small: $s-1,
	normal: $s-2,
	large: $s-3,
);